@page
@model KoiPondConstructionManagement.Pages.Manager.Construction.ListModel
@{
}

<style>
    .construction-list {
        max-height: calc(100% - 100px)
    }
</style>

<div class="construction-list">
    <h2 class="text-center">Danh sách công việc</h2>
    <div class="row">
        <div class="col-md-12">
            <form method="get">
                <div class="input-group mb-3">
                    <select asp-for="@Model.Status" class="form-control form-select w-50" id="status" name="status">
                        <option value="-1">Tất cả</option>
                        <option value="0">Chờ xử lý</option>
                        <option value="1">Đang thực hiện</option>
                        <option value="2">Hoàn thành</option>
                    </select>
                    <button type="submit" class="form-control btn btn-primary">Lọc</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row construction-items">
        @foreach (var item in Model.ConstructionGroups)
        {
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">
                            <span>@item?.Key?.MaintenanceService?.ServiceName</span>
                            @if (item.Key.ConstructionProcesses.Any(value => value.Status != (int)ConstructionProcessStatus.Completed))
                            {
                                <span class="badge rounded-pill bg-warning text-white">@item?.Key?.ConstructionProcesses.Count(value => value.Status != (int)ConstructionProcessStatus.Completed) công việc chưa hoàn thành</span>
                            }
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text mb-1"><span class="font-weight-bold">Khách hàng:</span> @item?.Key?.Customer?.FullName</p>
                        <p class="card-text mb-1"><span class="font-weight-bold">Số điện thoại:</span> @item?.Key?.Customer?.PhoneNumber</p>
                        <p class="card-text mb-1"><span class="font-weight-bold">Địa chỉ:</span> @item?.Key?.Customer?.Address</p>
                        <p class="card-text mb-1"><span class="font-weight-bold">Ngày giao việc:</span> @item?.Key?.ConstructionProcesses.Min(x => x.CreatedAt).ToString("dd/MM/yyyy HH:mm")</p>
                        <p class="card-text mb-1">
                            <span class="font-weight-bold">
                                Trạng thái:
                            </span>
                            @if (item.Key.ConstructionProcesses.All(value => value.Status == (int)ConstructionProcessStatus.Pending))
                            {
                                <span class="font-weight-bold">@await Html.PartialAsync("_ConstructionProcessStatusPartial", (int)ConstructionProcessStatus.Pending)</span>
                            }
                            else if (item.Key.ConstructionProcesses.All(value => value.Status == (int)ConstructionProcessStatus.Completed))
                            {
                                <span class="font-weight-bold">@await Html.PartialAsync("_ConstructionProcessStatusPartial", (int)ConstructionProcessStatus.Completed)</span>
                            }
                            else
                            {
                                <span class="font-weight-bold">@await Html.PartialAsync("_ConstructionProcessStatusPartial", (int)ConstructionProcessStatus.InProgress)</span>
                            }
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" data-toggle="collapse" data-target="#detai_@item?.Key.RequestId" aria-expanded="false" aria-controls="detai_@item?.Key.RequestId" class="btn btn-primary btn-sm">Chi tiết</button>
                    </div>
                    <div class="collapse" id="detai_@item?.Key.RequestId">
                        <form class="card card-body frmDetail" method="post">
                            <h5 class="card-title">Chi tiết công việc</h5>
                            @foreach (var detail in item?.Key?.ConstructionProcesses?.OrderBy(x => x?.CreatedAt))
                            {
                                <input type="hidden" name="processId" value="@detail.ProcessId" />
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <span class="card-title">@detail.StepInfo</span>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text mb-1">
                                            <span class="font-weight-bold">
                                                Trạng thái: 
                                                <select class="form-control" name="status" asp-for="@detail.Status">
                                                    <option value="0">Chờ xử lý</option>
                                                    <option value="1">Đang thực hiện</option>
                                                    <option value="2">Hoàn thành</option>
                                                </select>
                                            </span>
                                        </p>
                                        <p class="card-text mb-1">
                                            <span class="font-weight-bold">
                                                Ghi chú:
                                                <textarea name="note" class="form-control" rows="5">@Html.Raw(detail.Note)</textarea>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            }
                            @if (item.Key.Status != (int)ConstructionRequestsStatus.Completed)
                            {
                                <button type="submit" class="btn btn-primary">Cập nhật</button>   
                            }
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var top = $('.construction-items').offset().top;
            var height = $(window).height() - top - 100;
            $('.construction-items').css('max-height', height);
            $('.construction-items').css('height', height);
            $('.construction-items').css('overflow', 'auto');

            $('.frmDetail').submit(async function (e) {
                e.preventDefault();
    
                const constructionProcesses = [];
    
                // Lấy form cha hiện tại
                const form = $(this);
    
                // Duyệt qua từng nhóm trường dữ liệu trong form cha
                form.find("input[name='processId']").each(function(index) {
                    const processId = $(this).val();
                    const status = form.find("select[name='status']").eq(index).val();
                    const note = form.find("textarea[name='note']").eq(index).val();

                    // Đưa dữ liệu vào mảng
                    constructionProcesses.push({
                        processId: processId,
                        status: status,
                        note: note
                    });
                });

                let url = '/Manager/Construction/List'
                let path = 'UpdateProcessStatus'

                // Gửi dữ liệu lên server
                let { success, message } = await $.callAjax(`${url}?handler=${path}`, 'POST', { processes: constructionProcesses });
                if (!success) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message
                    });
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công',
                    }).then(() => {
                        window.location.reload();
                    });
                }
            });
        });
    </script>
}